<!-- 主题栏 -->
<div class="jumbotron text-center">
  <h1>锦绣前程</h1>
  <br/>
  <p>
    给自己一个机会，博一番锦绣前程!
  </p>
  <br/>
  <form class="form-inline">
    <input type="email" class="form-control" size="50" placeholder="开始找工作……">
    <button type="button" class="btn btn-default">马上开始</button>
 </form>
</div>


<!-- 优势 -->
<div class="container-fluid text-center">
  <h2>我们的优势</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo-small"></span>
      <h4>范围广</h4>
      <p>全球知名公司首选发布地</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-time logo-small"></span>
      <h4>消息新</h4>
      <p>消息即时发布，最新职位尽掌握</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-transfer logo-small"></span>
      <h4>效率高</h4>
      <p>直接投递简历，沟通零成本</p>
    </div>
    </div>
    <br><br>
</div>

<!-- 脚注 -->
<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Copyright ©2016 Rails 101<br/>Design By <a href="http://hukui-blog.logdown.com/" title="Hukui's logdown">胡奎</a></p>
</footer>
